apiVersion: v1
kind: Secret
metadata:
  name: ocsinventory-secrets
  namespace: ocsinventory
type: Opaque
data:

  dbuser: b2NzdXNlcg==
  dbpass: b2NzcGFzcw==
  dbrootpass: b2Nzcm9vdHBhc3M=
  auth: b2NzYXBpOiRhcHIxJEJjQWs1Zi9BJDBPNWMvRFN5OTIvby52cHd3c2hXUS4=
